@import '../../../../scss/variables/colors';

.book {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $gray;
  height: 300px;
  padding: 28px;
}

.book-author {
  color: darken($gray, 20%);
  font-size: 14px;
  line-height: 18px;
}

.book-image {
  height: 200px;
  width: 142px;
}

.book-hr {
  margin: 10px 20px;
}

.books-list {
  align-self: center;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 198px);
  justify-content: center;
  padding: 36px;
}

.book-title {
  color: $black;
  font-weight: 700;
  line-height: 18px;
}
